{
  "root": true,
  "env": {
    "browser": true,
    "es2021": true
  },
  "extends": [
    "plugin:react/recommended",
    "airbnb",
    "plugin:react/jsx-runtime",
    "prettier",
    "plugin:react-hooks/recommended"
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": "latest",
    "sourceType": "module"
  },
  "plugins": [
    "react",
    "@typescript-eslint",
    "react-hooks",
    "prettier"
  ],
  "rules": {
    "react/jsx-filename-extension": [
      "warn",
      {
        "extensions": [
          ".tsx"
        ]
      }
    ],
    "import/extensions": [
      "error",
      "ignorePackages",
      {
        "ts": "never",
        "tsx": "never"
      }
    ],
    "react/function-component-definition": [
      "error",
      {
        "namedComponents": [
          "function-declaration",
          "function-expression",
          "arrow-function"
        ]
      }
    ],
    "no-restricted-exports": "off",
    "react/jsx-props-no-spreading": [
      "error",
      {
        "html": "enforce",
        "custom": "ignore"
      }
    ],
    "prettier/prettier": "error",
    "no-unused-vars": "off",
    "@typescript-eslint/no-unused-vars": [
      "error"
    ],
    "import/no-extraneous-dependencies": "off"
  },
  "settings": {
    "import/resolver": {
      "typescript": {}
    }
  }
}